/*Generals*/

.debug{
  background-color: rgba(137, 43, 226, 0.638);
  border: solid 1px;
}

.debug2{
  background-color: rgba(165, 42, 42, 0.5);
  border: solid 1px;
}

.margin-top-90px{
  margin-top: 90px;
}

.light-blue{
  background-color: #1b72e8;
}

.width-100{
  width: 100%;
}

.p-r-5px{
  padding-right: 5px;
}

.p-l-0{
  padding-left: 0;
}

.p-l-7{
  padding-left: 7px;
}

.nd-gray{
  color: #5b5858;
}

.margin-t-20{
  margin-top: 20px;
}

.border-1-t-0{
  border: solid 1px;
  border-top: none;
}

tr{
  width: 100%;
  border-bottom: solid 1px gray;
}

td{
  padding: 5px 0px;
}

td img{
  width: 20px;
}

.fs-xsmall{
  font-size: x-small;
}

.border-radius-top-0{
  border-radius: 0px 0px 0px 0px !important;
}
/*Elements*/

header{
  background-color: white;
  height: 90px;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
}

.left-side{
  background-image: url(../img/sidebar-bg.png);
  background-color: black;
}

.logo-little img{
  width: 50px;
}

nav-bar{
  background-color: #e5e5e5;
}

.navbar i{
  padding: 0px 5px;
}
.nav-bar input::placeholder{
  padding-left: 15px;
}
.search{
  left: 0;
}

.utilitys-item{
  padding: 0 5px;
}

.fa-solid.fa-bell{
  color: yellow;
  padding: 0px 10px;
}

.ndbutton-small{
  align-items: center;
  padding: 0px 5px;
}

.ndbutton-small span{
  font-size: small;
  color: white;
  border-radius: 10px;
  padding: 2px 8px;
  background-color: rgba(0, 0, 0, 0.238);
  cursor: pointer;
}

.ndbutton-small span:hover{
  background-color:rgba(0, 0, 0, 0.434) ;
}

.next{
  padding: 0px 5px;
}

.disappear i{
  color: white;
  background-color: rgba(0, 0, 0, 0.238);
  padding: 5px;
  border-radius: 5px;
}

.table-title{
  background-color: #f7f7f7;
  width: 100%;
  border-radius: 5px 5px 0px 0px;
  border: solid 1px gray;
  padding-left: 20px;
}

table{
  width: 100%;
  background-color: white;
  border:solid 1px gray;
}

.tool{
  padding: 5px;
  border: 1px gray solid;
  border-radius: 2.5px;
  margin-right: 2px;
}

.tool i{
  padding: 0px 5px;
}

.gray{
  background-color: #f8f9fa;
}

tbody tr{
  cursor: pointer;
}

tr td{
  padding-left: 20px;
}

tbody tr:hover{
  background-color: lightgray;
}

.t-appear{
  display: none;
}

.ndcontainer{
  padding: 10px;
  background-color: white;
}

/*Media query*/
@media screen and (min-width:576px) {
  .t-appear{
    display: table-cell;
  }
}
@media screen and (max-width:992px){
  .appear{
    display: none;
  }

  .logo{
    display: none;
  }

  .utilitys{
    display: none;
  }
}

@media screen and (min-width:992px){
  .disappear{
    display: none;
  }


  .appear{
    display: flex;
  }

  .logo-little{
    display: none;
  }

  .logo{
    display:flex;
  }

  .utilitys{
    display: flex;
  }
}

@media screen and (max-width:1086px) {
  .different{
    display: none;
  }

  .disappear{
    display: block;
  }
}

@media screen and (min-width:1085px) {
  .different{
    display: flex;
  }
}