/*Generals*/

.debug{
  background-color: rgba(137, 43, 226, 0.638);
  border: solid 1px;
}

.debug2{
  background-color: rgba(165, 42, 42, 0.5);
  border: solid 1px;
}

.margin-top-90px{
  margin-top: 90px;
}

.light-blue{
  background-color: #1b72e8;
}

/*Elements*/

header{
  height: 90px;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
}

.left-side{
  height: 100vh;
  background-image: url(../img/sidebar-bg.png);
  background-color: black;
}

